body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.floating-window {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.floating-window h2 {
    font-size: 1.2rem;
    margin-top: 0;
    text-align: center;
}

.floating-window p {
    margin: 10px 0;
    text-align: center;
}

.floating-window input[type="radio"] {
    margin-right: 5px;
    text-align: center;
}

#nextBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.result {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hidden {
    display: none;
    text-align: center;
}
/* media querries*/

/* Small screens */
@media screen and (max-width: 576px) {
    .quiz-container {
        max-width: 100%;
        text-align: center;
    }

    .floating-window {
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}

/* Medium screens */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .quiz-container {
        max-width: 80%;
        text-align: center;
    }
}
